nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: dimgray;
  padding: 8px;
  margin-bottom: 8px;
  position: relative;
}

.pageName {
  color: white;
}

.link {
  display: flex;
  align-items: center;
  background-color: dimgray;
  color: white;
  height: 100%;
  transform: scale(1.5);
}

.link:hover {
  color: black;
}

.cartAmount {
  position: absolute;
  right: 40px;
}
